@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@680&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #181820;
    color: white;
}

.hero-section {
    position: relative;
    height: 100vh;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1086;
    opacity: 1;
    object-fit: cover;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 3;
    max-width: 90%;
    padding: 65px;
    text-align: left;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40%;
}

h1 {
    font-family: 'Anek Gujarati', sans-serif;
    font-style: Bold;
    font-size: 63px;
    line-height: 100%;
    letter-spacing: 0.07cm;
}

.gradient-text {
    background: linear-gradient(180deg, #FFFFFF 21.17%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    color: transparent;
    /* fallback */
}

.subtitle {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Lato;
    font-weight: 400;
    font-style: Medium;
    line-height: 100%;


}

.buttons {
    display: flex;
    gap: 18px;

}

.btn {
    padding: 15px 55px 25px 50px;
    height: 22px;
    line-height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 28px;
    font-weight: 450;
    text-align: center;
    text-decoration: none;
    margin-top: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: lato;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.6s ease;
}

.btn:hover {
    background-color: rgba(40, 147, 228, 1);

}