@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@680&display=swap');

body {
    margin: 0;
    padding: 0;
background: rgba(18, 21, 27, 1);
    color: white;
}

.hero-section {
    position: relative;
    height: 110vh;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
 background: linear-gradient(0deg, #12151B 0%, rgba(18, 21, 27, 0) 60%);


  pointer-events: none;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    opacity: 1;
    object-fit: cover;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 3;
    margin-top: 10px;
    max-width: 90%;
    padding: 30px 65px;
    text-align: left;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 42%;
}

h1 {
    font-family: 'Anek Gujarati', sans-serif;
    font-style: Bold;
    font-size: 63px;
    line-height: 80%;
    letter-spacing: 0.07cm;
}

.gradient-text {
    background: linear-gradient(180deg, #FFFFFF 21.17%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    color: transparent;
    /* fallback */
}

.subtitle {
    font-size: 36px;
    margin-bottom: 3%;
    font-family: Lato;
    font-weight: 400;
    font-style: Medium;
    line-height: 100%;
}

.buttons {
    display: flex;
    gap: 18px;
}

.btn {
    padding: 15px 55px 25px 50px;
    height: 22px;
    line-height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 28px;
    font-weight: 450;
    text-align: center;
    text-decoration: none;
    margin-top: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: lato;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.6s ease;
}

.btn:hover {
    background-color: rgba(40, 147, 228, 1);

}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 24px 0 24px;
    text-align: center;
}

.main-title {
    font-family: Lato;
    font-weight: 500;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    font-size: 55px;
    margin-bottom: 18px;

}

.gradient-title {
    font-family: Lato;
    font-weight: 600;
    font-style: Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(90.36deg, #B970FF 0.13%, #00CDF1 99.89%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 530px;
    padding: 28px 55px 55px 95px;
    column-gap: 38px;
    
}

.card {
    background: rgba(25, 79, 226, 0.5);background: rgba(23, 28, 42, 0.5);
    border-radius: 40px;
    padding: 30px 32px 32px 22px;
    text-align: left;
    flex: 1 1 280px;
    max-width: 340px;
    min-width: 260px;
    height: 170px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon img{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    font-size: 2px;
    margin-bottom: 40px;

}

.card-title {
    font-family: Lato;
font-weight: 500;
font-size: 23px;
line-height: 100%;
letter-spacing: 0.5px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 1);

}

.card-desc {
    font-family: Lato;
font-weight: 400;
letter-spacing: 0.5px;
    font-size: 16px;
    color: rgba(133, 151, 176, 1);
    line-height: 1.5;
    margin-bottom: 2px;
}