@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@680&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgba(18, 21, 27, 1);
    color: white;
}

.hero-section {
    position: relative;
    height: 110vh;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #12151B 0%, rgba(18, 21, 27, 0) 60%);
    pointer-events: none;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    /* max-height: 90vh; */
    opacity: 1;
    object-fit: cover;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 3;
    margin-top: 10px;
    max-width: 90%;
    padding: 30px 5vw;
    text-align: left;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 42%;
}

h1 {
    font-family: 'Anek Gujarati', sans-serif;
    font-style: Bold;
    font-size: 5vw;
    line-height: 80%;
    letter-spacing: 0.07cm;
}

.gradient-text {
    background: linear-gradient(180deg, #FFFFFF 21.17%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    color: transparent;
}

.subtitle {
    font-size: 3vw;
    margin-bottom: 3%;
    font-family: Lato;
    font-weight: 400;
    font-style: Medium;
    line-height: 100%;
}

.buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 3vh;
}

.btn {
    padding: 15px 5vw 25px 5vw;
    height: 22px;
    line-height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 2.3vw;
    font-weight: 450;
    text-align: center;
    text-decoration: none;
    margin-top: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: lato;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.6s ease;
}

.btn:hover {
    background-color: rgba(40, 147, 228, 1);
}

/* MAIN AND CARDS SECTION */
.container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 60px 5vw 0 5vw;
    text-align: center;
}

.main-title {
    font-family: Lato;
    font-weight: 500;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    font-size: 4vw;
    margin-bottom: 3vh;
}

.gradient-title {
    font-family: Lato;
    font-weight: 600;
    font-style: Bold;
    font-size: 4.5vw;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 3.5vh;
    background: linear-gradient(90.36deg, #B970FF 0.13%, #00CDF1 99.89%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 28px 5vw 5vw 5vw;
    gap: 2vw 3vw;
}

.card {
    background: rgba(25, 79, 226, 0.5);
    background: rgba(23, 28, 42, 0.5);
    border-radius: 40px;
    padding: 30px 32px 32px 22px;
    text-align: left;
    flex: 1 1 280px;
    max-width: 340px;
    min-width: 260px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 3vh;
}

.icon img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2px;
    margin-bottom: 6vh;
}

.card-title {
    font-family: Lato;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 1);
}

.card-desc {
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1.05rem;
    color: rgba(133, 151, 176, 1);
    line-height: 1.4;
    margin-bottom: 2px;
}

/* MAIN WRAP - Watch Stream Popup Section */
.main-wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.heading {
    font-family: Lato;
    font-weight: 700;
    font-size: 4.5vw;
    text-align: center;
    background: linear-gradient(90.36deg, #B970FF 0.13%, #00CDF1 99.89%);
    background-clip: text;
    color: transparent;
    line-height: 100%;
    letter-spacing: 2px;
    margin: 2vh 0 5vh 0;
}

.section-row {
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;
    max-width: 1250px;
    height: auto;
    padding: 10px 10px 5vw 10px;
    align-items: center;
    justify-content: center;
}

.side-buttons {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.side-buttons .icon-wrap {
    width: 80px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.side-buttons .icon-wrap img {
    width: 55px;
    height: 55px;
}

.side-btn {
    width: 80px;
    height: 28px;
    background: rgba(21, 25, 35, 1);
    border-radius: 35px 100px 100px 35px / 36px 100px 100px 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    padding: 0px 20px;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    margin: 0;
}


.mockup-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 930px;
    z-index: 4;
}


.phone-frame {
    opacity: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.image-device {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.video-img {
    position: absolute;
    object-fit: cover;
    border-radius: 50px;
    top: 18px;
    left: 13px;
    z-index: 2;
    height: auto;
    max-height: 418px;
    width: 97%;
    object-fit: cover;
    display: block;
}

.side-btn-2 {
    width: 80px;
    height: 28px;
    background: rgba(21, 25, 35, 1);
    border-radius: 100px 30px 30px 100px / 100px 28px 29px 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    padding: 0px 25px;
    font-size: 0.9;
    letter-spacing: 1.2px;
    margin: 0;
}

.lens {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.lens img {
    height: 30px;
    width: 30px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 4;
}

.play-btn img {
    height: 80px;
    width: 80px;
}

.badge-8k {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3vh;
    right: 5vw;
    font-weight: 600;
    font-size: 70px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 133, 3, 1);
    font-family: Poppins;
    border-radius: 35px;
    border: 3px solid rgba(255, 133, 3, 1);
    width: auto;
    padding: 0 5vw;
    z-index: 4;

}


/*Responsive*/


@media (max-width: 1024px) {
    .hero-section {
        height: 110vh;
    }

    .background-image {
        max-height: 110vh;
    }

    .logo {
        font-size: 22px;
    }

    h1 {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 3vw;
    }

    .btn {
        font-size: 2.5vw;
        padding: 20px 6vw 20px 6vw;
    }

    .main-title,
    .gradient-title {
        font-size: 5vw;
    }

    .card {
        flex: 1 1 280px;
        max-width: 320px;
    }

    .icon img {
        width: 45px;
        height: 45px;
    }

    .section-row {
        height: auto;
    }

    .phone-frame .video-img {
        width: 700px;
        height: 350px;
    }

    .side-btn,
    .side-btn-2 {
        width: 70px;
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .hero-section {
        height: 80vh;
    }

    .content {
        padding: 25px 3vw;
    }

    h1 {
        font-size: 6vw;
        line-height: 90%;
    }

    .buttons {
        gap: 10px;
    }

    .btn {
        padding: 12px 15px 20px 15px;
        font-size: 3vw;
    }

    .cards {
        height: auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
    }

    .card {
        flex: 1 1 100%;
        max-width: 50%;
        height: auto;
        margin-bottom: 1rem;
    }

    .icon img {
        width: 60px;
        height: 60px;
        margin-bottom: 40px;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .card-desc {
        font-size: 1.2rem;
    }

    .section-row {
        flex-direction: column;
        height: auto;
        padding-bottom: 4rem;
        gap: 2_rem;
    }

    .side-buttons {
        flex-direction: row;
        padding: 10px 10px0;
        gap: 10px;
    }

    .side-btn,
    .side-btn-2 {
        height: 40px;
        width: 70px;
        font-size: 14px;
        padding: 5px 6px;
    }

    .mockup-area {
        max-width: 90%;
        width: 90%;
    }

    .phone-frame {
        height: auto;
    }

    .phone-frame .video-img {
        width: 660px;
        height: 300px;
        border-radius: 10px;
    }

    .badge-8k {
        bottom: 160px;
        right: 5vw;
        font-size: 5vw;
        padding: 10px 30px;
    }
}

@media (max-width: 480px) {
    .hero-section {
        height: 70vh;
    }

    .logo {
        font-size: 18px;
        margin-bottom: 7cm;
    }

    h1 {
        font-size: 8vw;
    }

    .subtitle {
        font-size: 18px;
    }

    .btn {
        padding: 12px 15px 20px 15px;
        font-size: 3vw;
        width: 100px;
    }

    .btn {
        font-size: 3.8vw;
    }

    .main-title,
    .gradient-title {
        font-size: 7vw;
    }

    .card {
        flex: 1 1 100%;
    }

    .card-title {
        font-size: 1.3rem;
        margin-top: 30px;
    }

    .card-desc {
        font-size: 1.1rem;
    }

    .icon img {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
    }

    .buttons {
        flex-direction: column;
        gap: 0;
    }

    .side-buttons {
        flex-direction: row;
        gap: 10px;
        padding: 10px 5px;
    }

    .side-btn,
    .side-btn-2 {
        width: 50px;
        font-size: 10px;
        padding: 5px 8px;
    }

    .mockup-area {
        max-width: 90%;
        width: 90%;
    }

    .phone-frame {
        height: auto;
    }

    .phone-frame .video-img {
        width: 440px;
        height: 280px;
        border-radius: 10px;
    }

    .badge-8k {
        bottom: 120px;
        right: 5vw;
        font-size: 5vw;
        padding: 10px 20px;
        border-radius: 15px;
    }
}